include  partials/head

html
  head
    title= title
  body
    h1= message

    include partials/navbar
    .container

      h1 Add Course
      form(action="/add" method="POST")
        .input-field
          input(placeholder="Course Name" name="name" id="title" type="text" class="validate" required)
          label(for="title") Course Name
          span(class="helper-text" data-error="Enter Name")
        .input-field
          input(placeholder="Price" id="price" name="price" type="number" class="validate"  required)
          label(for="price") Course Name
          span(class="helper-text" data-error="Enter price")

        .input-field
          input(placeholder="Preview" id="preview" name="preview" type="text" class="validate"  required)
          label(for="preview") URL image
          span(class="helper-text" data-error="Choose File")

        button(class="btn btn-primary") Add Course


    include partials/footer