include  partials/head

html
  head
    title= title
  body
    h1= message

    include partials/navbar
    .container
      h1 Welcome

      p There are only best courses

    include partials/footer